body{
    font-family: 'Poppins', sans-serif;
}
.welecome{
display: flex;

}
.orange{
    color: rgb(29, 197, 17);
}
.hire_me{
   background-image: -o-linear-gradient(tomato red );
   background-color: rgb(165, 89, 42);
   text-decoration: none;
   padding: 10px 30px ;
   border-radius: 5px;
   font-weight: 700;
   color: aliceblue;
}
img{
    width: 100%;
}